.search-wrapper > div:first-child {
	position: absolute;
	top: 16%;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	min-height: 36px;
	z-index: 999;
}
.search-field {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	min-height: 36px;
	background-color: #fff;
	cursor: text;
}
.search-field input {
	display: inline-block;
	color: #333;
	min-width: 36px;
	max-width: 588px;
	width: 36px;
	height: 36px;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	float: left;
	border: 0;
	white-space: pre;
	margin-left: 6px;
}
.search-field button {
	position: absolute;
	display: inline-block;
	background-color: #bbb;
	border: 1px solid #bbb;
	width: 78px;
	height: 36px;
	left: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fff;
	cursor: pointer;
	outline: none;
}
	.search-field button:hover {
		background-color: #aaa;
		border-color: #aaa;
	}
.search-field > span {
	display: none;
	position: absolute;
	font-weight: 400;
	font-size: 15px;
	box-sizing: content-box;
}
.search-select, .search-select > div {
	display: inline-block;
	position: absolute;
	right: 100%;
	outline: none;
	height: 36px;
	background-color: #fff;
	color: #999;
}
.search-select {
	width: 100px;
	border-right: 1px solid #eee;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.search-select > div {
	width: 100%;
	overflow: hidden;
	left: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
	.search-select > div div.catalog::after {
		content: '';
		position: absolute;
		border-top: 8px solid #ccc;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 8px solid transparent;
		top: 14px;
		right: 6px;
	}
.search-select > div div{
	height: 36px;
	line-height: 36px;
	background-color: #fff;
	padding: 0 14px 0 6px;
}
.dropdown {
	position: absolute;
	width: 600px;
	max-height: 180px;
	height: 0px;
	top: 100%;
	margin-top: 2px;
	background-color: #fff;
	border-radius: 5px;
	overflow-y: auto;
	outline: none;
}
.dropdown > div {

}
.dropdowncell span {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 12px;
	cursor: pointer;
	color: #333;
}
	.dropdowncell span:hover {
		background-color: rgba(0, 0, 255, 0.1);
	}

.select-option:hover {
	background-color: rgba(0, 0, 255, 0.1);
}
.tobolder {
	font-weight: 600;
}
div.tobolder:hover {
	background-color: transparent;
}
.text-wrapper {
	display: inline-block;
	float: left;
	/*height: 36px;*/
	padding-right: 6px;
}
.text-wrap {
	position: relative;
	display: inline-block;
	float: left;
	line-height: 28px;
	padding: 0 24px 0 6px;
	margin-left: 6px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
	.text-wrap:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
.text-wrap-close {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6px;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border-radius: 50%;
	font-weight: 800;
	color: #ccc;
}
.text-wrap-close:hover {
	color: #fff;
}

.select-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.dropdown-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.historyrecordcell {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 12px;
	cursor: pointer;
	color: #333;
	font-size: 13px;
	font-style: italic;
}
	.historyrecordcell:hover {
		background-color: rgba(0, 0, 255, 0.1);	
	}
.historyrecordcell span.recordcat {
	font-weight: 600;
	margin-left: 12px;
}
.historyrecordcell span.recordval {
	margin-left: 36px;
}